#main-wrapper.auth[data-layout=vertical][data-header-position=fixed] .app-header
{
    width: 100%;
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .app-header{
    top: 0;
}

body {
    background-color: rgba(243,244,246,0.5);
}

.addUser {
    background: #fff;
    padding: 25px 40px;
    margin-top: 50px;
    border-radius: 10px;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
    color: #fff;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    outline: none !important;
    margin-left: 10px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

.left-sidebar .scroll-sidebar {
    margin-top: 50px;
}

.sidebar-nav h4 {
    font-size: 18px;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td button.delete {
    color: #F44336;
    padding: 0;
}

table.table td button.delete:active {
    border: none;
    color: #F44336;
}

.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}

.showUser h4 {
    font-size: 16px;
}

input.btn.btn-danger {
    color: #fff;
    background-color: #F44336;
    opacity: 1;
}

.modal-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

thead, td {
    text-align: center;
}